/* You can add global styles to this file, and also import other style files */
.container {
  flex-direction: column;
}

.body {
  display: flex;
}

/* Solution Source: https://mzl.la/3aenVqi */
.wrapper {
  display: grid;
  grid-template-columns: 12vw repeat(1, 2fr) 1vw;
  /* grid-auto-rows: 12vw; */
}
