/* You can add global styles to this file, and also import other style files */
.container {
  flex-direction: column;
}

.body {
  display: flex;
}

.wrapper {
  display: grid;
  grid-template-columns: 8vw repeat(1, 2fr) 1vw;
}
