:host {
  font-size: 2vw;
}

.post {
  padding: 1vw;
}

.author {
  font-size: 2vw;
  font-style: italic;
}

.title {
  font-size: 2.2vw;
  font-weight: bold;
}

img {
  opacity: 0.8;
}

img:hover {
  opacity: 1;
}
